﻿@if (Request.IsAuthenticated) {
    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Welcome @CurrentUser.FirstName&nbsp;@CurrentUser.LastName<span class="caret"></span></a>
            <ul class="dropdown-menu">
                @if (CurrentUser.Roles.Any(x => x == "Admin")) {
                <li><a href="/Admin/User/Index">Manage Users</a></li>
                }
                @if (CurrentUser.Roles.Any(x => x == "Admin")) {
                <li><a href="/Admin/Location/Index">Manage Locations</a></li>
                }
                @if (CurrentUser.Roles.Any(x => x == "Admin" ||
                                                x == "DocumentUploader" ||
                                                x == "DocumentSigner" ||
                                                x == "DocumentDownloader")) {
                <li><a href="/Document/Index">Manage Documents</a></li>
                }
                <li><a href="/User/Logout">Logout</a></li>
            </ul>
        </li>
    </ul>
}
