﻿@using BrownSignApp.Data
@model List<User>
<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Location</th>
            <th>Roles</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (User user in Model) {
            string roles = string.Empty;
            string location = string.Empty;
            if (user.Location != null) {
                location = user.Location.Name;
            }
            if (user.UserRoles != null && user.UserRoles.Count > 0) {
                roles = user.UserRoles
                .Select(x => x.Role.Name + "<br />")
                .Aggregate((x, y) => x + y);
            }
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@location</td>
                <td>@Html.Raw(roles)</td>
                <td>
                    <a style="cursor:pointer" onclick="OpenResetPasswordModal(@user.UserId)"><span class="glyphicon glyphicon-lock"></span></a> | 
                    <a style="cursor:pointer" onclick="OpenEditManageUserModal(@user.UserId)"><span class="glyphicon glyphicon-edit"></span></a> |
                    <a href="/Admin/User/Delete?userId=@user.UserId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
