﻿@model BrownSignApp.Api.Areas.Admin.Models.CreateUserViewModel

<form action="/Admin/User/Create" method="post" 
      data-ajax="true" 
      data-ajax-success="AddManageUserOnSuccess" 
      data-ajax-failure="AddManageUserOnFailure" 
      data-ajax-update="#user_grid">
    <div class="form-group">
        @Html.LabelFor(x => x.User.FirstName)
        @Html.TextBoxFor(x => x.User.FirstName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.User.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.User.LastName)
        @Html.TextBoxFor(x => x.User.LastName, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.User.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.User.Email)
        @Html.TextBoxFor(x => x.User.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.User.Email)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.User.Username)
        @Html.TextBoxFor(x => x.User.Username, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.User.Username)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.User.Password)
        @Html.PasswordFor(x => x.User.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.User.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(x=> x.User.LocationId)
        @Html.DropDownListFor(x => x.User.LocationId, Model.LocationSelectList, "Select Location", new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.User.LocationId)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.RoleIds)
        @Html.DropDownListFor(x => x.RoleIds, Model.RoleSelectList, new { @class = "form-control", multiple = "multiple" })
        @Html.ValidationMessageFor(x => x.RoleIds)
    </div>
</form>