﻿@using BrownSignApp.Data
@model List<User>
@{
    ViewBag.Title = "Admin Home";
}

@section scripts {
    <script src="~/Scripts/master.js"></script>
    <script src="~/Scripts/manageuser.js"></script>
}

<div>
    <button class="btn btn-primary" onclick="OpenAddManageUserModal()">Add New User</button>
</div>

<div id="user_grid">
    @Html.Partial("AllUsers", Model)
</div>

@Html.Partial("~/Views/Shared/DefaultModal.cshtml")