﻿@using BrownSignApp.Api.Areas.Admin.Models
@model ResetPasswordViewModel

<form action="/Admin/User/ResetPassword" method="post" data-ajax="true">
    @Html.HiddenFor(x => x.UserId)
    <div class="form-group">
        @Html.LabelFor(x => x.Password)
        @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Password)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.ConfirmPassword)
        @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ConfirmPassword)
    </div>
</form>