﻿@using BrownSignApp.Data
@model List<Document>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Document Name</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Document document in Model) {
            <tr>
                <td>@document.Name</td>
                <td>@document.Status.Name</td>
                <td>
                    <a>Download</a>
                    <a></a>
                </td>
            </tr>
        }
    </tbody>
</table>
