﻿@model BrownSignApp.Api.Views.Models.DocumentUpload
<form action="/Document/Upload" method="post" enctype="multipart/form-data">
    @Html.TextBoxFor(x=> x.docs, new { type="file", @class="upload", multiple = "multiple", accept =".docx,.pdf" })
    @Html.ValidationMessageFor(x=> x.docs)
    <table id="docsToUpload" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Document Name</th>
            </tr>
        </thead>
    </table>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        var dt = $('#docsToUpload').DataTable({
            "scrollY": "250px",
            "scrollCollapse": true,
            "paging": false
        });


        $("#docs").change(function (e) {
            if (!e.target.files) return;

            var files = e.target.files;
            for (var i = 0; i < files.length; i++) {
                var f = files[i];
                console.log(f);
                dt.row.add([f.name]).draw(false);;
            }
        });
    });
</script>