﻿@using BrownSignApp.Data
@model List<Document>

<div style="margin-top:10px;margin-bottom:10px;">
    @if (CurrentUser.Roles.Any(x => x == "DocumentSigner" || x == "Admin")) {
        <a style="margin-right:5px;" class="btn btn-primary pull-right" onclick="SignSelectedDocuments()">Sign Selected Document(s)</a>
        <a style="margin-right:5px;" class="btn btn-primary pull-right" onclick="SelectAllDocuments()">Select All</a>
    }
</div>
<div class="clearfix"></div>
<div id="progress_bar" style="display:none;padding-top:20px;">
    @Html.Hidden("LastProgress", 0)
    @Html.Hidden("NeedsRefresh", false)
    <span id="progress_text"></span>
    <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 0%;">
            0%
        </div>
    </div>
</div>
<div id="documents_to_sign_container" style="margin-top:20px;">
    <table id="documents_to_sign" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>&nbsp;</th>
                <th>Document Name</th>
                <th>Location</th>
                <th>Status</th>
                <th>Upload Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody style="height: 250px; overflow: auto;">
            @foreach (Document document in Model) {
                <tr>
                    <td width="5px;"><input type="checkbox" id="DocumentIds" value="@document.DocumentId" /></td>
                    <td>@document.Name</td>
                    <td>@document.Location.Name</td>
                    <td>@document.Status.Name</td>
                    <td>@document.UploadDate</td>
                    <th>
                        @if (document.HasPreview) {
                            <a style="cursor:pointer;" onclick="OpenDocumentPreview(@document.DocumentId)">Preview</a>
                        } else {
                            <span>Preview Not Available</span>
                        }
                    </th>
                </tr>
            }
        </tbody>
    </table>
</div>




<script>
    $(document).ready(function () {
        $('#documents_to_sign').DataTable({
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false,
            "order": [[3, "desc"]]
            
        });
    });
</script>