﻿@using BrownSignApp.Data
@model List<Document>
@{
    ViewBag.Title = "Home";
}

@section scripts {
    <script src="~/Scripts/master.js"></script>
    <script src="~/Scripts/document.js"></script>
}

<div id="document_container">
    <ul class="nav nav-tabs tab-collapse" role="tablist">
        @if (CurrentUser.Roles.Any(x => x == "DocumentSigner" || x == "Admin")) {
            <li role="presentation"><a style="cursor:pointer" onclick="OpenTab('/Document/DocumentsToSign', 'tab_container', 'document_container')" role="tab" data-toggle="tab">Documents To Sign</a></li>
        }
        @if (CurrentUser.Roles.Any(x=> x == "DocumentUploader" || x == "Admin")) { 
            <li role="presentation"><a style="cursor:pointer" onclick="OpenTab('/Document/Unsigned', 'tab_container', 'document_container')" role="tab" data-toggle="tab">Unsigned</a></li>
        }
        @if (CurrentUser.Roles.Any(x => x == "DocumentDownloader" || x == "Admin")) {
            <li role="presentation"><a style="cursor:pointer" onclick="OpenTab('/Document/Signed', 'tab_container', 'document_container')" role="tab" data-toggle="tab">Downloads</a></li>
        }
        
    </ul>
</div>

@Html.Partial("~/Views/Shared/DisplayModal.cshtml")
@Html.Partial("~/Views/Shared/DefaultModal.cshtml")