﻿@using BrownSignApp.Data
@model List<string>

@{ 
    int totalPages = Model.Count;
    int pageNum = 1;
}

<div id="preview_wrapper">
    @Html.Hidden("totalPages", totalPages)
    @Html.Hidden("pageNum", pageNum)
    @foreach (string item in Model) {
        <div id="page_wrap_@pageNum" style="display:none;">
            <div>
                <span class="pull-right">Page @pageNum of @totalPages</span>
            </div>
            <div class="clearfix"></div>
            <div style="border:1px solid black; padding:20px;background-color:white;">
                <img style="" height="800" width="600" src="data:image/png;base64,@item" />
            </div>
            <div>
                <span class="pull-right">Page @pageNum of @totalPages</span>
                @{ pageNum++; }
            </div>
        </div>
    }
    <div style="padding:20px;">
        <div class="col-sm-6">
            <button class="pull-right btn btn-primary btn-xs" disabled id="previous" onclick="previous_click()">Previous</button>
        </div>
        <div class="col-sm-6">
            <button class="pull-left btn btn-primary btn-xs" style="width:60px" id="next" onclick="next_click()">Next</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("#preview_wrapper div:first").show();
    })


    function previous_click() {
        var pageNum = parseInt($("#pageNum").val());
        var totalPages = parseInt($("#totalPages").val());
        console.log(pageNum + " - " + totalPages);
        if (pageNum > 1) {
            $("#page_wrap_" + pageNum).hide(); //hide current page
            pageNum = pageNum - 1; //incremenet to next page
            $("#pageNum").val(pageNum); //set page num
            $("#page_wrap_" + pageNum).show();//show next page
        }
        if (pageNum == 1) {
            $("#previous").attr("disabled", "disabled");
        }
        if (pageNum < totalPages) {
            $("#next").removeAttr("disabled");
        }
    }

    function next_click() {
        var pageNum = parseInt($("#pageNum").val());
        var totalPages = parseInt($("#totalPages").val());
        console.log(pageNum + " - " + totalPages);
        if (pageNum < totalPages) {
            $("#page_wrap_" + pageNum).hide(); //hide current page
            pageNum = pageNum + 1; //incremenet to next page
            $("#pageNum").val(pageNum); //set page num
            $("#page_wrap_" + pageNum).show();//show next page
        }
        if (pageNum > 1) {
            $("#previous").removeAttr("disabled");
        }
        if (pageNum == totalPages) {
            $("#next").attr("disabled", "disabled");
        }
    }
</script>