﻿@using BrownSignApp.Data
@model List<ZipFile>


<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Document Name</th>
            <th>Status</th>
            <th>Created Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ZipFile document in Model) {
            <tr>
                <td>@document.Name</td>
                <td>@document.Status.Name</td>
                <td>@document.CreatedDate</td>
                <td>
                    <a href="/Document/DownloadZip?zipFileId=@document.ZipFileId" target="_blank"><img src="~/Content/Images/download.png" /></a>
                </td>
            </tr>
        }
    </tbody>
</table>

