﻿@using BrownSignApp.Data
@model List<Document>


<div style="margin-top:10px;">
@if (CurrentUser.Roles.Any(x => x == "DocumentUploader" || x == "Admin")) {
    <button onclick="OpenAddDocumentModal()" class="btn btn-primary pull-right">Upload</button>
}
</div>
<div class="clearfix"></div>
<div style="margin-top:10px;">
    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Document Name</th>
                <th>Status</th>
                <th>Upload Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Document document in Model) {
                <tr>
                    <td>@document.Name</td>
                    <td>@document.Status.Name</td>
                    <td>@document.UploadDate</td>
                    <td><a href="/Document/RemoveDocument?documentId=@document.DocumentId"><span class="glyphicons glyphicons-delete"></span></a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $(document).ready(function () {
        $('#example').DataTable({
            "scrollY": "400px",
            "scrollCollapse": true,
            "paging": false
        });
    });
</script>