﻿@using BrownSignApp.Data
@model List<Location>

<table class="table table-responsive table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Location location in Model)
        {
        <tr>
            <td>@location.Name</td>
            <td>@location.Address</td>
            <td>
                <a style="cursor:pointer" onclick="OpenEditLocationModal(@location.LocationId)"><span class="glyphicon glyphicon-edit"></span></a> |
                <a href="/Admin/Location/Delete?locationId=@location.LocationId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
