﻿@model BrownSignApp.Api.Areas.Admin.Models.CreateLocationViewModel

<form action="/Admin/Location/Edit" method="post"
      data-ajax="true"
      data-ajax-success="EditLocationOnSuccess"
      data-ajax-failure="EditLocationOnFailure"
      data-ajax-update="#location_grid">
    @Html.HiddenFor(x => x.Location.LocationId)
    <div class="form-group">
        @Html.LabelFor(x => x.Location.Name)
        @Html.TextBoxFor(x => x.Location.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Location.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Location.Address)
        @Html.TextBoxFor(x => x.Location.Address, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Location.Address)
    </div>
</form>