﻿@using BrownSignApp.Data
@model List<Location>
@{
   ViewBag.Title = "Locations";
}

@section scripts {
    <script src="~/Scripts/master.js"></script>
    <script src="~/Scripts/managelocation.js"></script>
}

<div>
    <button class="btn btn-primary" onclick="OpenAddLocationModal()">Add New Location</button>
</div>

<div id="location_grid">
    @Html.Partial("AllLocations", Model)
</div>

@Html.Partial("~/Views/Shared/DefaultModal.cshtml")